.header {
  margin: 20px auto;
  padding-top: 0.2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .header {
    width: auto;
  }

  .header .blogLogo {
    width: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .topContainer {
    padding: 3% 5%;
  }
}

.topContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.blogLogo {
  width: 11rem;
  padding-bottom: 3em;
  padding-top: 3em;
}

.blogLogoCompact {
  margin-top: 0.27rem;
  height: 2.3rem;
  padding-left: 1rem;
}

.header:hover h1 {
  color: #077a4c;
  cursor: pointer;
}
