.topContainer {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.navList {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navItem {
  font-family: var(--font-sans);
  font-weight: 400;
  width: 165px;
  height: 50px;
  border-left: 1px solid;
  cursor: pointer;
}

.navItem:first-child {
  border-left: none;
}

.navItem:hover p {
  color: #129762;
}
